.admin-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-modal-content {
  position: relative; /* Add this line to make the close button position relative to this container */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 600px; /* Adjust width as per your need */
  height: auto; /* Auto height to adjust to content */
  max-width: 90%; /* Limit the max width to prevent overflow on smaller screens */
  max-height: 80vh; /* Limit the height to prevent it from becoming too tall */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.modal-header h2 {
  margin: 0;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input:disabled {
  background-color: #f0f0f0;
}
